<div class="card">
  <div class="card-header">
    Sign Up
  </div>
  <div class="card-body">
    <form>
        <div class="form-group">
            <label for="userName">Email address</label>
            <input type="email" class="form-control" id="userName">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <button type="submit" id="signUp" class="btn btn-primary">Sign Up</button>
        <a href='/login'>Login</a>
    </form>
  </div>
</div>

<script src="/js/signup.js" />